:host {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  height: 3.5rem;
  width: 100%;
}

.text-board {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.text-box {
  max-height: 150px;
  overflow-y: auto;
  outline: none;
  white-space: pre-line;
  word-break: break-word;
}

.text-box:empty::before {
  content: attr(data-placeholder);
  color: var(--bs-secondary);
  cursor: text;
}
