<div class="canvas">
    <div class="box rounded bg-light border border-dark">
        <div class="d-center border-bottom border-secondary">
            <span class="h2">Rejestracja</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="d-flex">
                <div class="form-floating">
                    <input id="floatingFirstName"  class="form-control" type="text" formControlName="firstName"/>
                    <label for="floatingFirstName">
                        Imię:
                    </label>
                </div>
                <div class="separator"></div>
                <div class="form-floating">
                    <input id="floatingLastName"  class="form-control" type="text" formControlName="lastName"/>
                    <label for="floatingLastName">
                        Nazwisko:
                    </label>
                </div>
            </div>
            <div>
                <div class="form-floating">
                    <input id="floatingEmail"  class="form-control" type="email" formControlName="email"/>
                    <label for="floatingEmail">
                        Email:
                    </label>
                </div>
            </div>
            <div>
                <div class="form-floating">
                    <input id="floatingPassword"  class="form-control" type="password" formControlName="password"/>
                    <label for="floatingPassword">
                        Hasło:
                    </label>
                </div>
            </div>
            <div>
                <div class="form-floating">
                    <input id="floatingRepeatedPassword"  class="form-control" type="password" formControlName="repeatedPassword"/>
                    <label for="floatingRepeatedPassword">
                        Powtórz hasło:
                    </label>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-dark">Rejestruj</button>
            </div>
        </form>
    </div>
</div>