<header class="d-flex container-fluid bg-dark text-white">
    <a class="navbar h2 text-white text-decoration-none" href="#">SocialCafe</a>
    <nav class="navbar navbar-expand me-auto">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">SocialChat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Znajomi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Twój profil</a>
                </li>
            </ul>
        </div>
    </nav>
    <button class="btn btn-outline-light my-2" data-bs-toggle="dropdown" aria-expanded="false">Maks Michalski</button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropMenu2">
        <li class="dropdown-item">Ustawienia</li>
        <li class="dropdown-item">Wyloguj</li>
    </ul>
</header>
