<div class="d-flex justify-content-center align-items-center canvas mx-3">
    <div>
        <div class="card border-dark p-4">
            <div class="d-flex justify-content-center">
                <span class="h2">Rejestracja</span>
            </div>
            <div class="border-top border-secondary"></div>
            <div class="d-flex">
                <div class="form-floating mt-3 me-3">
                    <input id="floatingEmail"  class="form-control" type="email"/>
                    <label for="floatingEmail">
                        Imię:
                    </label>
                </div>
                <div class="form-floating mt-3">
                    <input id="floatingEmail"  class="form-control" type="email"/>
                    <label for="floatingEmail">
                        Nazwisko:
                    </label>
                </div>
            </div>
            <div class="form-floating mt-3">
                <input id="floatingEmail"  class="form-control" type="email"/>
                <label for="floatingEmail">
                    Email:
                </label>
            </div>
            <div class="form-floating mt-3">
                <input id="floatingPassword"  class="form-control" type="email"/>
                <label for="floatingPassword">
                    Hasło:
                </label>
            </div>
            <div class="form-floating mt-3">
                <input id="floatingPassword"  class="form-control" type="email"/>
                <label for="floatingPassword">
                    Powtórz hasło:
                </label>
            </div>
            <button class="btn btn-outline-secondary mt-3">Rejestruj</button>
        </div>
    </div>
</div>