<div class="d-flex justify-content-center align-items-center canvas">
    <div>
        <div class="card border-dark p-4">
            <div class="d-flex justify-content-center">
                <span class="h2">Logowanie</span>
            </div>
            
            <div class="border-top border-secondary"></div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-floating mt-3">
                    <input id="floatingEmail"  class="form-control" type="email" formControlName="email"/>
                    <label for="floatingEmail">
                        Email:
                    </label>
                </div>

                <div class="form-floating mt-3">
                    <input id="floatingPassword"  class="form-control" type="password" formControlName="password"/>
                    <label for="floatingPassword">
                        Password:
                    </label>
                </div>

                <div class="mt-3">
                    <input  type="checkbox"/>
                    <label class="from-label ps-2">Zapamiętaj mnie!</label>
                </div>

                <button class="btn btn-outline-secondary mt-3">Zaloguj</button>
            </form>
        </div>
    </div>
</div>
