@media only screen and (max-width: 950px) {
    .large-screen {
        display: none;
    }
}

@media only screen and (min-width: 950px) {
    .small-screen {
        display: none;
    }
}

header {
    height: var(--nav-height);
}