:host {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    max-width: 25rem;
    padding: 0 1rem;
}

.search-box {
    display: flex;
    height: 8rem;
    width: 100%;
    padding-bottom: 1rem;
}

.list-box {
    display: flex;
    flex-grow: 1;
    padding-top: 1rem;
}

.result-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}