<div class="d-flex flex-column post-board">
    <div class="card border-0 bg-dark my-3 p-3">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Co masz na myśli?" id="floatingTextarea" #postInput (input)="textareaAutoHeightResize(postInput)"></textarea>
            <label for="floatingTextarea">Co masz na myśli?</label>
        </div>
        <button class="btn btn-outline-light mt-3">Opublikuj</button>
    </div>
    <div class="bg-dark rounded-top flex-grow-1 px-3">
        <app-post-bubble *ngFor="let post of posts" [post]="post"></app-post-bubble>
    </div>
</div>
