textarea {
    resize: none;
    min-height: 100px;
}

.post-board {
    margin: 0 auto;
    min-height: 100%;
    width: 960px;
}

@media only screen and (max-width: 1690px){
    .post-board {
        width: 800px;
    }
}

@media only screen and (max-width: 1390px){
    .post-board {
        width: 640px;
    }
}

@media only screen and (max-width: 1090px){
    .post-board {
        width: 480px;
    }
}

@media only screen and (max-width: 790px){
    .post-board {
        width: 320px;
    }
}