:host {
    display: flex;
    flex-grow: 1;
    padding: 0 1rem;
}

.box {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}