:host {
    display: flex;
    flex-grow: 1;
    padding: 0 1rem;
}

.box {
    width: 100%;
    overflow-y: scroll;
    padding: 1rem;
}

.box>div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}